<a href="https://colab.research.google.com/github/VigneshRavichandiran54/assissment/blob/main/SOL_viki_assisnment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=[100,200,300,400,500]
print(l[::-1])

[500, 400, 300, 200, 100]

In [77]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].insert(2,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [82]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list2 = ["h","i","j"]
list1[2][1][2].extend(list2)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [93]:
t = (10, 20, 30, 40, 50)
print(t[::-1])

(50, 40, 30, 20, 10)

In [99]:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

In [104]:
not_a_tuple=("50")
create_a_tuple=("50",)
print(type(not_a_tuple))
print(type(create_a_tuple))

<class 'str'>
<class 'tuple'>

In [109]:
t1 = (11, 22)
t2 = (99, 88)
print ("before Swaping")
print("T1 :",t1)
print("T2 :",t2)

[t1],[t2]=[t2],[t1]
print("After Swapping")
print("T1 :",t1)
print("T2 :",t2)

before Swaping
T1 : (11, 22)
T2 : (99, 88)
After Swapping
T1 : (99, 88)
T2 : (11, 22)

In [121]:
t1 = (11, 22, 33, 44, 55, 66)
print("tuple 1 =",t1)
print("tuple2 = ",t1[3:5])

tuple 1 = (11, 22, 33, 44, 55, 66)
tuple2 =  (44, 55)

In [122]:
t1 = (50, 10, 60, 70, 50)
print(t1.count(50))

2

In [125]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict=dict(zip(keys,values)) #it is a constuctor to built dict
print(dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [140]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [152]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

dictionary=dict.fromkeys(employees,defaults)
print(dictionary)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}
{'designation': 'Application Developer', 'salary': 8000}

In [159]:
sd = {'a': 100, 'b': 200, 'c': 300}
print(200 in sd.values())
print(20000 in sd.values())

True
False